div {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    background-color: #246666;
    margin: 0;
    padding: 10px;
}

h4 {
    line-height: 0px;
}

.container {
    border: 1px solid black;
    margin-bottom: 10px;
}